:root {
  --font-primary: 'Roboto', sans-serif;
  --font-secondary: 'Raleway', sans-serif;
  --text-color-primary: rgba(33, 33, 33, 1);
  --text-color-secondary: rgba(0, 0, 0, 1);
  --text-color-tertiary: rgba(33, 150, 243, 1);
  --text-color-quaternary: rgba(255, 255, 255, 1);
  --text-color-quinary: rgba(117, 117, 117, 1);
  --text-color-senary: rgba(255, 255, 255, 0.6);
  --background-color-primary: rgb(229, 229, 229);
  --background-color-secondary: rgba(255, 255, 255, 1);
  --background-color-tertiary: rgba(47, 48, 58, 1);
  --background-color-quaternary: rgba(33, 150, 243, 1);
  --background-color-quinary: rgba(245, 244, 250, 1);
}
.body {
  font-family: var(--font-primary);
  color: var(--text-color-primary);
  background-color: var(--background-color-primary);
}
.headline {
  color: var(--text-color-primary);
  font-weight: 500;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.headline:hover,
.headline:focus {
  color: var(--text-color-tertiary);
}
.post-body {
  color: var(--text-color-secondary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
}
.post-body1 {
  color: var(--text-color-tertiary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.post-body2 {
  color: var(--text-color-quaternary);
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: 700;
  font-size: 26px;
  text-align: center;
  line-height: 1.17;
}
.title1 {
  color: var(--text-color-quaternary);
  font-weight: 900;
  background-color: var(--background-color-tertiary);
  letter-spacing: 0.06em;
}
.title2 {
  color: var(--text-color-primary);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.title3 {
  color: var(--background-color-primary);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.background {
  background-color: var(--background-color-primary);
}
.background1 {
  background-color: var(--background-color-quinary);
}
.background2 {
  background-color: var(--background-color-tertiary);
  font-style: normal;
}
.background3 {
  background-color: var(--background-color-secondary);
}

.button1 {
  color: var(--text-color-quaternary);
  font-weight: 700;
  background-color: var(--background-color-quaternary);
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  line-height: 1.87;
  border: none;
  letter-spacing: 0.06em;
}
.button2 {
  color: var(--text-color-primary);
  font-weight: 500;
  background-color: var(--background-color-quinary);
  cursor: pointer;
  border: none;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}
.button2:hover,
.button2:focus {
  color: var(--text-color-quaternary);
  background-color: var(--background-color-quaternary);
}
.lorem {
  color: var(--text-color-primary);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.lorem1 {
  color: var(--text-color-quinary);
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
}
.names {
  color: var(--text-color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.03em;
}
.names2 {
  color: var(--text-color-quinary);
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
  letter-spacing: 0.03em;
}
.link {
  color: var(--text-color-senary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.link:hover,
link:focus {
  color: var(--text-color-tertiary);
}

.link2 {
  color: var(--text-color-quinary);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.link2:hover,
.link2:focus {
  color: var(--text-color-tertiary);
}
.address {
  color: var(--text-color-quaternary);
  font-size: 14px;
  line-height: 2;
  font-style: normal;
  letter-spacing: 0.03em;
}
.paragraph {
  color: var(--text-color-quinary);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
